
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <!-- /input-group -->
        </li>
        <li>
          <a href="<%=clientes_path%>"><i class="fa fa-dashboard fa-fw"></i> Clientes</a>
        </li>
        <li>
          <a href="<%=fornecedors_path%>"><i class="fa fa-dashboard fa-fw"></i> Fornecedores</a>
        </li>
        <li>
          <a href="<%=impostos_path%>"><i class="fa fa-dashboard fa-fw"></i> Impostos</a>
        </li>
        <li>
          <a href="<%=transacaos_path%>"><i class="fa fa-dashboard fa-fw"></i> Transações</a>
        </li>
        <li>
          <a href="<%=centro_custos_path%>"><i class="fa fa-dashboard fa-fw"></i> Centro de custos</a>
        </li>

      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
