<%= form_for(transacao) do |f| %>
  <% if transacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transacao.errors.count, "error") %> prohibited this transacao from being saved:</h2>

      <ul>
      <% transacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel-body">
   <div class="row">
       <div class="col-lg-6">
          <div class="form-group">
            <div class="field">
              <label >Tipo da transação</label>
              <%= label_tag(:cliente, "Cliente" ,class: 'radio-inline') %>
              <%= radio_button_tag(:tipo_transacao, "1",'checked') %>
              <%= label_tag(:forncedor, "Fornecedor" ,class: 'radio-inline') %>
              <%= radio_button_tag(:tipo_transacao, "2") %>
            </div>
          </div>
          <div id="cliente" class="form-group">
            <div class="field">
              <%= f.label :cliente_id %>
              <%= f.collection_select :cliente_id, Cliente.order(:nome) ,:id, :nome, {prompt: "Selecione um cliente"},{ class: 'form-control'}%>
            </div>
          </div>
          <div id="fornecedor" class="form-group" style="display: none;">
            <div class="field">
              <%= f.label :fornecedor_id %>
              <%= f.collection_select :fornecedor_id, Fornecedor.order(:nome) ,:id, :nome, {prompt: "Selecione um fornecedor"},{ class: 'form-control'}%>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :centro_custo, 'Custo' %>
              <%= f.collection_select :centro_custo_id, CentroCusto.order(:descricao) ,:id, :descricao, {prompt: "Selecione um custo"},{ class: 'form-control'}%>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :valor %>
              <%= f.text_field :valor ,class: "form-control", placeholder: "Entre com Nome do valor"%>
            </div>
          </div>
            <div class="form-group input-group">
              <%= f.submit 'Enviar', class: "btn btn-default"%>
            </div>
<% end %>
        </div>
    </div>
</div>

