<p id="notice"><%= notice %></p>
<div class="panel-body">
  <div class="row">
    <div class="col-lg-6">

      <div class="form-group form-inline">
        <label>Titulo:</label>
        <p class="form-control-static">
          <%= @imposto.titulo %>
        </p>
      </div>
      <div class="form-group form-inline">
        <label>Descrição:</label>
        <p class="form-control-static">
          <%= @imposto.descricao %>
        </p>
      </div>
        <% @imposto.tabela_de_limites.each do |limite| %>
        <div class="form-group form-inline">
          <div class="form-group form-inline">
            <label>limite inferior</label>
            <p class="form-control-static">
             <%= limite.limite_inferior %>
            </p>
          </div>
          <div class="form-group form-inline">
            <label>limetes superior</label>
            <p class="form-control-static">
             <%= limite.limite_superior %>
            </p>
          </div>
          <div class="form-group form-inline">
            <label>Aliquota</label>
            <p class="form-control-static">
             <%= limite.aliquota %>
            </p>
          </div>
      </div>
       <% end %>

    </div>
  </div>
</div>

<%= link_to 'Editar', edit_imposto_path(@imposto), class: "btn btn-default" %> |
<%= link_to 'Voltar', impostos_path , class: "btn btn-default"%>
